<div class="row" *ngIf="!isUserLoggedIn">
  <div class="col-xs-12 col-md-6 col-md-offset-3 authForm">

    <form  class="form auth" [formGroup]="authForm" (ngSubmit)="onAuthSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <!-- <div *ngIf="loginStatusCode === 401 && authForm.get('username').dirty" style="color:red;">username not found</div> -->
        <div *ngIf="loginStatusCode === 401" style="color:red;">username not found</div>
        <div *ngIf="userExists" style="color:red;">this user already exists, please login or create a new one</div>
        <div *ngIf="loginStatusCode === 409" style="color:red;">check your username/password and try again</div>
        <input type="text" class="form-control" placeholder="username" formControlName="username" required minlength="4" (input)="hideAuthErrorMessage()"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" placeholder="password" formControlName="password" required minlength="6" (input)="hideAuthErrorMessage()"/>
      </div>
      <div class="authBtns">
        <button class="btn btn-primary " type="submit" [disabled]="authForm.invalid">{{isLoginMode ? 'Login' : 'Sign
          Up'}}</button> |
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch to {{isLoginMode ? 'Sign Up' :
          'Login'}}</button>

          
      </div>
    </form>
  </div>
</div>

<div class="container" *ngIf="isUserLoggedIn">
  <p class="currentUser">Logged in as {{currentUser | json}}</p>
  <button class="btn btn-primary logoutBtn" (click)="logOut()" type="button">Log Out</button>
  <div class="col-md-6 searchInputBox ">
    <input type="search" class="form-control searchInput" id="name" placeholder="Search Library" 
      [(ngModel)]="bookTitle"
      (input)="getFilteredBooks()" name="name" />
    <button type="button" aria-label="add a book" class="button" (click)="toggleModal()">Add a new book</button>
  </div>
  
  
  <ul class="nav nav-pills" *ngIf="genres">
    <li class="nav-item">
      <button class="nav-link active" [ngClass]="{'active': activeGenreButton === 0}" (click)=" showAllGenres()">All genres</button>
    </li>
  
    <li *ngFor="let genre of genres" class="nav-item">
      <button class="nav-link" (click)="getByGenre(genre.genre, genre.id)"
        [ngClass]="{'active': activeGenreButton === genre.id}">{{genre.genre}}</button>
    </li>
  
  </ul>
  
  <select class="form-select" aria-label="select sorting" [(ngModel)]="sortBy" (change)="selectedSortBy($event)">
    <option selected value="">Sort by</option>
    <option value="name">Aplhabetical</option>
    <option value="year">Published</option>
  </select>
  
  
  <div class="modal" *ngIf="modalOpen">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Book Info</h5>
          <button type="button" class="btn-close" (click)="toggleModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form autoComplete="off" className="form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <input type="text" class="form-control" placeholder="book title" formControlName="bookTitle" />
            <input type="text" class="form-control" placeholder="author" formControlName="author" />
            <input type="number" class="form-control" min="1890" max="2022" formControlName="year" />
            <textarea type="text" class="form-control descriptionInput" placeholder="description"
              formControlName="description"></textarea>
  
            <p class="chosenGenre" (click)="dropdownVisible=!dropdownVisible">{{selectedGenre || "Choose a genre"}}</p>
  
            <div class="dropdownContainer" *ngIf="dropdownVisible">
              <ul class="dropdownList">
                <li *ngFor="let genre of genres" (click)="genreChosen(genre.genre)" class="genreItem">{{genre.genre}}</li>
              </ul>
            </div>
  
  
            <input type="file" class="fileInput" accept="image/png, image/jpg, image/jpeg"
              (change)="onFileChanged($event)">
  
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="toggleModal()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
        </div>

      </div>
    </div>
  </div>
  
  
  <ul class="bookList" *ngIf="retrievedResponse?.length > 0">
  
    <li class="bookItem" *ngFor="let book of retrievedResponse | filter:bookTitle:filterMetadata">
  
      <button aria-label="delete" class="deleteButton" (click)="onDelete(book?.id)"></button>
      <button aria-label="delete" class="updateButton" (click)="openUpdateBookModal(book?.id)"></button>
  
      <img [src]="book?.image" alt="" class="bookCover">
  
      <div class="bookInfo">
        <h3 class="bookTitle">{{book?.name}}</h3>
        <p class="author">by {{book?.author}} &bull; {{book?.year}}</p>
        <p class="description">{{book?.description}}</p>
        <!-- <a href="#" class="button ">Details</a> -->
      </div>
  
    </li>
  </ul>
  
  <h3 *ngIf="retrievedResponse?.length === 0">No books here</h3>
  
  <div class="text-center" *ngIf="loading"> <!-- loading spinner -->
    <button class="btn btn-primary text-center" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
  </div>
  
  
  <div class="paginationList"
    *ngIf="showPagination && !loading && filterMetadata.count !== 0 && retrievedResponse?.length !== 0">
  
    <div style="text-align: center;">
      <button class="btn btn-primary paginationBtn" (click)="pagination.first()"
        *ngIf="!pagination.isFirst && pagesTotal > 2"> << </button>
  
      <button class="btn btn-primary paginationBtn" (click)="pagination.prev()" *ngIf="!pagination.isFirst"> < </button>
  
      <input class="paginationInput" appPagination #pagination="appPagination" [pageNo]="currentPage"
                [totalPages]="pagesTotal" (pageChange)="onPageChange($event)" />
  
      <span class="paginationTotalPages"> / {{ pagesTotal }}</span>

      <button class="btn btn-primary paginationBtn" (click)="pagination.next()" *ngIf="!pagination.isLast"> > </button>

      <button class="btn btn-primary paginationBtn" (click)="pagination.last()"
        *ngIf="!pagination.isLast && pagesTotal > 2"> >> </button>

    </div>

  </div>
</div>


